*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}


.table-container {
    width: 80%;
    margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
}

table th {
    background-color: #f8f8f8;
    font-weight: bold;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}
/* table tr:hover:nth-child(even) {
    background-color: #24a306;
    transition: 0.5s;
} */

textarea, select, input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}

div[onclick] {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

div[onclick]:hover {
    background-color: #0056b3;
    transition: 0.8s
}

select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
}

select:focus {
    outline: none;
    border: 1px solid #007bff;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.select-label {
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 4px 0;
}

.select-label.resource {
    background-color: #03228C;
}

.select-label.competence {
    background-color: #ffbe7e;
    color: #D98634;
}

.select-label.habit {
    background-color: #d4edda;
    color: #24a306;
}
