*{
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}


.table-container {
    width: 80%;
    margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px 25px;
    text-align: left;
    background-color: #fff;
}


table th {
    background-color: #fff;
    font-weight: bold;
    text-align: left;
}


table tr:nth-child(even) {
    background-color: #f9f9f9;
}
table tr:hover:nth-child(even) {
    background-color: #24a306;
    transition: 0.5s;
} 

textarea {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    font-size: 14px;
    resize: vertical;
    border: none;
}

select {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}

input[type="text"] {
    width: 80px;
    margin: 4px 0;
    box-sizing: content-box;
    border: none;
    align-items: left;
    text-decoration: underline;
    color: #03228C;
}


div[onclick] {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

div[onclick]:hover {
    background-color: #0056b3;
    transition: 0.8s
}

select {
    width: 150px;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background-color: #f9f9f9;
    box-shadow: 7px 5px 10px 5px rgba(0, 0, 0, 0.063);
    font-weight: 500;
    
}

select option {
    padding: 10px;
}

select option.habit {
    background-color: #a9d18e;
    color: #167000;
}

select option.competence {
    background-color: #f8cbad;
    color: #D98634;
}

select option.resource {
    background-color: #b4c7e7;
    color: #03228C;
}
